{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="max-w-xl mx-auto p-6 bg-white rounded shadow">
        <h2 class="text-xl font-semibold mb-4">+ Tambah Task Baru</h2>
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col space-y-4">
                <input type="text" name="title" placeholder="Judul Task" class="input input-primary w-full border border-gray-300 rounded px-4 py-2 outline-amber-400 focus:outline-none focus:ring focus:ring-blue-500" required>
                <textarea name="description" placeholder="Deskripsi Task" class="textarea textarea-primary w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:ring-blue-500"></textarea>
                <input type="datetime-local" name="due_at" class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring focus:ring-blue-500" required>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="{% url 'task_list' %}" class="btn btn-secondary">Batal</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}