{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen">
  <div class="card w-full max-w-sm bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="text-2xl font-bold text-center">Login</h2>

      <form method="post" class="space-y-4 mt-4">
        {% csrf_token %}

        <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
          
          <label class="fieldset-label">Email</label>
          <input type="text" class="input" placeholder="Username" name="username" required />
          
          <label class="fieldset-label">Password</label>
          <input type="password" class="input" placeholder="Password" name="password" required />
          
          <div class="form-control mt-6">
            <button class="btn btn-primary w-full" type="submit">Login</button>
          </div>
        </fieldset>
      </form>

      <div role="alert" class="alert alert-info alert-soft">
        <span>username: admin</span>
        <span>password: admin</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}